# Data Mining Project : Analysis of intentional homicides by country and sex of victims

In [56]:
# Data analysis imports
import pandas as pd
import seaborn as sns
import plotly.express as px
import numpy as np
from ydata_profiling import ProfileReport

# ML imports
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.mixture import BayesianGaussianMixture
from sklearn.cluster import DBSCAN
from scipy.stats import norm
import matplotlib.pyplot as plt
from yellowbrick.cluster import SilhouetteVisualizer
from yellowbrick.cluster import KElbowVisualizer

pd.set_option('display.max_columns', None)

## Prétraitement des données

### Transofrmation fichier en csv avec renommage

In [57]:
# Read the Excel file with the first two rows as header
read_file = pd.read_excel("./datasets/Intentional homicide victims by sex, counts and ra.xls", sheet_name=2, header=[0, 1])

# Write the dataframe object into a CSV file
read_file.to_csv("./datasets/raw_data.csv", index=None, header=True)

# Read the CSV file back into a dataframe
df = pd.read_csv('./datasets/raw_data.csv', header=[0, 1])

# Rename Highest level columns
df.columns = pd.MultiIndex.from_tuples(
    [(('Count' if 'Number of victims of intentional homicides by sex' in col else 'Rate' if 'Rates of intentional homicides by sex' in col else col[0]), col[1]) for col in df.columns]
)
df.columns = pd.MultiIndex.from_tuples(
    [(col[0] if col[0] != 'Unnamed: 0_level_0' else 'Info', col[1]) for col in df.columns]
)
df.columns = pd.MultiIndex.from_tuples(
    [(col[0] if col[0] != 'Unnamed: 1_level_0' else 'Info', col[1]) for col in df.columns]
)
df.columns = pd.MultiIndex.from_tuples(
    [(col[0] if col[0] != 'Unnamed: 2_level_0' else 'Info', col[1]) for col in df.columns]
)
df.columns = pd.MultiIndex.from_tuples(
    [(col[0] if col[0] != 'Unnamed: 3_level_0' else 'Info', col[1]) for col in df.columns]
)
df.columns = pd.MultiIndex.from_tuples(
    [(col[0] if col[0] != 'Unnamed: 4_level_0' else 'Info', col[1]) for col in df.columns]
)

df.head(10)

     Info                                                     Count            \
   Region           Subregion   Country     Sex        Source  2000 2001 2002
0  Africa     Northern Africa   Algeria  Female           CTS   NaN  NaN  NaN
1  Africa     Northern Africa   Algeria    Male           CTS   NaN  NaN  NaN
2  Africa     Northern Africa     Egypt  Female  CTS/External   NaN  NaN  NaN
3  Africa     Northern Africa     Egypt    Male           CTS   NaN  NaN  NaN
4  Africa     Northern Africa   Morocco  Female     UNSDC/CTS   NaN  NaN  NaN
5  Africa     Northern Africa   Morocco    Male     UNSDC/CTS   NaN  NaN  NaN
6  Africa     Northern Africa   Tunisia  Female      External   NaN  NaN  NaN
7  Africa     Northern Africa   Tunisia    Male      External   NaN  NaN  NaN
8  Africa  Sub-Saharan Africa  Botswana  Female            NP   NaN  NaN  NaN
9  Africa  Sub-Saharan Africa  Botswana    Male            NP   NaN  NaN  NaN

                                                                            \
  2003   2004   2005   2006   2007        2008        2009    2010    2011
0  NaN    NaN    NaN    NaN    NaN         NaN         NaN     NaN     NaN
1  NaN    NaN    NaN    NaN    NaN         NaN         NaN     NaN     NaN
2  NaN   52.0   63.0  144.0  163.0  110.418685  193.000000   197.0   331.0
3  NaN  270.0  459.0  405.0  517.0  856.581315  719.000000  1642.0  2372.0
4  NaN    NaN    NaN    NaN    NaN         NaN   52.897959     NaN     NaN
5  NaN    NaN    NaN    NaN    NaN         NaN  379.102041     NaN     NaN
6  NaN    NaN    NaN    NaN    NaN         NaN         NaN     NaN     NaN
7  NaN    NaN    NaN    NaN    NaN         NaN         NaN     NaN     NaN
8  NaN    NaN    NaN    NaN    NaN         NaN         NaN     NaN     NaN
9  NaN    NaN    NaN    NaN    NaN         NaN         NaN     NaN     NaN

                                                                             \
          2012   2013        2014   2015   2016   2017   2018   2019   2020
0    52.000000   39.0   85.481481   71.0   75.0   56.0   86.0   86.0  122.0
1   195.000000  170.0  491.518519  475.0  467.0  468.0  482.0  433.0  532.0
2   261.865211    NaN         NaN    NaN    NaN    NaN    NaN    NaN  165.0
3  1945.134789    NaN         NaN    NaN    NaN    NaN    NaN    NaN    NaN
4    56.000000   66.0   59.000000   97.0  105.0  113.0   70.0  117.0   84.0
5   327.000000  363.0  296.000000  334.0  489.0  648.0  440.0  510.0  374.0
6          NaN    NaN         NaN    NaN    NaN    NaN    NaN  103.0  115.0
7          NaN    NaN         NaN    NaN    NaN    NaN    NaN  468.0  447.0
8          NaN    NaN         NaN    NaN    NaN    NaN    NaN    NaN  114.0
9          NaN    NaN         NaN    NaN    NaN    NaN    NaN    NaN    5.0

         Rate                                                         \
    2021 2000 2001 2002 2003      2004      2005      2006      2007
0  160.0  NaN  NaN  NaN  NaN       NaN       NaN       NaN       NaN
1  535.0  NaN  NaN  NaN  NaN       NaN       NaN       NaN       NaN
2  296.0  NaN  NaN  NaN  NaN  0.135997  0.161524  0.362020  0.401793
3    NaN  NaN  NaN  NaN  NaN  0.687261  1.145443  0.991362  1.241278
4   99.0  NaN  NaN  NaN  NaN       NaN       NaN       NaN       NaN
5  617.0  NaN  NaN  NaN  NaN       NaN       NaN       NaN       NaN
6    NaN  NaN  NaN  NaN  NaN       NaN       NaN       NaN       NaN
7    NaN  NaN  NaN  NaN  NaN       NaN       NaN       NaN       NaN
8  100.0  NaN  NaN  NaN  NaN       NaN       NaN       NaN       NaN
9    5.0  NaN  NaN  NaN  NaN       NaN       NaN       NaN       NaN

                                                                         \
       2008      2009      2010      2011      2012      2013      2014
0       NaN       NaN       NaN       NaN  0.284704  0.209345  0.449798
1       NaN       NaN       NaN       NaN  1.026532  0.877596  2.487979
2  0.266849  0.457290  0.457324  0.751744  0.581524       NaN       NaN
3  2.017095  1.660664  3.716972  5.251376  4.209383       NaN       NaN
4       NaN  0.331329       NaN       NaN  0.337462  0.392560  0.346492
5       NaN  2.357967       NaN       NaN  1.951339  2.136451  1.718850
6       NaN       NaN       NaN       NaN       NaN       NaN       NaN
7       NaN       NaN       NaN       NaN       NaN       NaN       NaN
8       NaN       NaN       NaN       NaN       NaN       NaN       NaN
9       NaN       NaN       NaN       NaN       NaN       NaN       NaN


       2015      2016      2017      2018      2019      2020      2021
0  0.366151  0.379113  0.277568  0.418198  0.410531  0.572266  0.737983
1  2.357059  2.271808  2.232685  2.256279  1.990173  2.403662  2.378069
2       NaN       NaN       NaN       NaN       NaN  0.310689  0.548129
3       NaN       NaN       NaN       NaN       NaN       NaN       NaN
4  0.562780  0.601987  0.640348  0.392372  0.649184  0.461188  0.537724
5  1.914632  2.768180  3.623868  2.432643  2.789662  2.024362  3.305535
6       NaN       NaN       NaN       NaN  1.692245  1.870255       NaN
7       NaN       NaN       NaN       NaN  7.848762  7.434105       NaN
8       NaN       NaN       NaN       NaN       NaN  8.839306  7.629581
9       NaN       NaN       NaN       NaN       NaN  0.397865  0.391317

### Filtrer les sources et arrondir le nombre de victimes

In [61]:
# Filter out sources from the dataframe
df = df.iloc[:327]
# How to select Country
print(df[('Info', 'Country')])
# How to filter rows based on Country 
df_algeria = df[df[('Info', 'Country')] == 'Algeria']
print(df_algeria)

# Round Counts to nearest integer
rounded_counts = df['Count'].round(0)
df['Count'] = rounded_counts

0             Algeria
1             Algeria
2               Egypt
3               Egypt
4             Morocco
            ...
322    American Samoa
323             Samoa
324             Samoa
325             Tonga
326             Tonga
Name: (Info, Country), Length: 327, dtype: object
     Info                                          Count                      \
   Region        Subregion  Country     Sex Source  2000 2001 2002 2003 2004
0  Africa  Northern Africa  Algeria  Female    CTS   NaN  NaN  NaN  NaN  NaN
1  Africa  Northern Africa  Algeria    Male    CTS   NaN  NaN  NaN  NaN  NaN

                                                                         \
  2005 2006 2007 2008 2009 2010 2011   2012   2013   2014   2015   2016
0  NaN  NaN  NaN  NaN  NaN  NaN  NaN   52.0   39.0   85.0   71.0   75.0
1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  195.0  170.0  492.0  475.0  467.0

                                     Rate                                     \
    2017   2018   2019   2020   2021 2000 2001 2002 2003 2004 2005 2006 2007
0   56.0   86.0   86.0  122.0  160.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1  468.0  482.0  433.0  532.0  535.0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

                                                                         \
  2008 2009 2010 2011      2012      2013      2014      2015      2016
0  NaN  NaN  NaN  NaN  0.284704  0.209345  0.449798  0.366151  0.379113
1  NaN  NaN  NaN  NaN  1.026532  0.877596  2.487979  2.357059  2.271808


       2017      2018      2019      2020      2021
0  0.277568  0.418198  0.410531  0.572266  0.737983
1  2.232685  2.256279  1.990173  2.403662  2.378069

In [60]:
# Save cleaned dataset
df.to_csv("./datasets/clean_data.csv", index=None, header=True)

### Visualize Data

In [58]:
df.describe()

              Count                                                          \
               2000          2001          2002          2003          2004
count    118.000000    126.000000    128.000000    132.000000    158.000000
mean    1853.144068   1756.944444   1775.562500   1712.303030   1387.379747
std     6310.326250   6313.508463   6386.947860   6137.528978   5398.418446
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%       26.066038     20.694239     26.178571     23.851064     12.062500
50%       81.726596     69.313187     64.859223     70.032119     41.330000
75%      326.337048    275.321100    320.436813    319.180535    229.982498
max    41600.000000  44052.000000  45787.000000  47102.000000  44535.000000

                                                                             \
               2005          2006          2007          2008          2009
count    168.000000    192.000000    202.000000    228.000000    234.000000
mean    1332.362029   1266.437500   1201.668317   1154.232456   1113.081197
std     5047.599226   4809.225532   4564.435557   4371.438395   4389.403274
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%       17.493359     11.750000     13.398649     12.937500     11.400000
50%       61.106312     45.380952     54.500000     61.000000     49.197531
75%      325.103352    282.250000    290.250000    352.500000    269.369565
max    43678.000000  45080.000000  43906.000000  46042.000000  47131.000000

                                                                             \
               2010          2011          2012          2013          2014
count    240.000000    236.000000    234.000000    228.000000    226.000000
mean    1138.883333   1177.025424   1133.042735   1064.539474   1073.405959
std     4446.473677   4538.415398   4662.580328   4566.957101   4737.257240
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%       15.000000     14.656250     15.250000     15.000000     13.134615
50%       61.000000     59.500000     52.516393     57.500000     54.500000
75%      298.074648    323.750000    291.000000    254.500000    222.500000
max    47777.000000  47650.000000  51591.000000  51973.000000  54786.000000

                                                                             \
               2015          2016          2017          2018          2019
count    231.000000    226.000000    238.000000    233.000000    240.000000
mean    1077.596443   1257.123894   1208.189076   1158.892704   1067.920833
std     4644.602180   4972.749130   5015.465120   4828.496684   4341.436618
min        0.000000      0.000000      0.000000      0.000000      0.000000
25%       15.000000     17.000000     18.000000     16.000000     15.750000
50%       62.000000     68.000000     58.500000     63.000000     58.500000
75%      289.000000    444.750000    389.750000    366.000000    263.750000
max    53467.000000  56465.000000  58750.000000  51334.000000  40268.000000

                                         Rate                          \
               2020          2021        2000        2001        2002
count    230.000000    194.000000  118.000000  126.000000  128.000000
mean    1036.969565   1064.651425    7.351927    7.093214    8.424719
std     4511.420857   4122.971095   15.203305   15.061349   16.740331
min        0.000000      0.000000    0.000000    0.000000    0.000000
25%       14.250000     12.250000    1.232116    1.194306    1.274867
50%       62.500000     55.000000    2.415010    2.435052    2.511939
75%      259.000000    226.750000    5.303030    5.019328    8.211618
max    43780.000000  31263.000000  126.425681  129.621224  130.291396

                                                                               \
             2003        2004        2005        2006        2007        2008
count  132.000000  158.000000  168.000000  192.000000  202.000000  228.000000
mean     7.994352    8.060981    8.930437    8.895332    8.710326    9.182958
std     15.678683   15.089908   18.334865   18.384329   18.284062   18.227386
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      1.125691    1.064523    1.030387    0.899871    0.974940    1.039463
50%      2.468368    2.225443    2.178132    2.222641    2.177736    2.618646
75%      6.690717    6.987417    7.381871    7.273785    6.706785    8.097376
max    105.721922   90.009012  120.417485  120.495807  109.233538  108.191568

                                                                               \
             2009        2010        2011        2012        2013        2014
count  232.000000  238.000000  234.000000  232.000000  224.000000  222.000000
mean     9.589372    9.306579    9.210108    8.175085    7.070086    6.836827
std     20.481388   19.796282   21.217666   18.425781   15.193751   15.616007
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.989027    0.869534    0.817169    0.877807    0.787184    0.718755
50%      2.397819    2.334458    2.153253    1.922273    1.850867    1.750000
75%      7.011943    6.695019    5.896856    6.035716    5.574829    5.159737
max    130.151278  136.878392  151.809247  147.650201  131.112359  122.254787

                                                                               \
             2015        2016        2017        2018        2019        2020
count  227.000000  226.000000  238.000000  231.000000  240.000000  228.000000
mean     6.978559    8.234593    8.363834    7.992323    6.954399    6.771907
std     19.176754   19.835260   17.943651   16.618681   15.526049   14.588467
min      0.000000    0.000000    0.000000    0.000000    0.000000    0.000000
25%      0.715430    0.790075    0.864162    0.854361    0.661469    0.637432
50%      1.836773    1.837424    1.915087    1.812175    1.677867    1.737456
75%      4.183971    5.424050    5.686525    5.759088    4.579406    5.090341
max    204.331133  159.254880  116.199300   98.286289  113.994377  123.868312


             2021
count  194.000000
mean     7.796048
std     18.194906
min      0.000000
25%      0.599432
50%      1.697402
75%      5.145206
max    159.160306

In [86]:
# Victim counts by sex 
group_df = df.groupby(by=[('Info', 'Sex')]).sum()
group_df[['Count']]

# Sort the dataframe by the highest count of victims in descending order
group_df = df.groupby(by=[('Info', 'Country')]).sum()
group_df
df_sorted = group_df.sort_values(by=[('Count', '2021')], ascending=False)
df_sorted[['Count']].head(10)

                            Count                                      \
                             2000     2001     2002     2003     2004
(Info, Country)
India                     48167.0  46420.0  45736.0  44331.0  46490.0
Mexico                    10737.0  10285.0  10088.0  10087.0   9329.0
Iraq (Central Iraq)           0.0      0.0      0.0      0.0      0.0
United States of America  15586.0  19033.0  16229.0  16528.0  16148.0
Myanmar                       0.0      0.0      0.0      0.0      0.0
Colombia                  26539.0  27840.0  28387.0  23523.0  20210.0
Russian Federation        41090.0  42921.0  44252.0  41764.0  39256.0
Honduras                      0.0      0.0      0.0      0.0      0.0
Guatemala                     0.0      0.0      0.0      0.0   4507.0
Kenya                         0.0      0.0      0.0      0.0      0.0

                                                                       \
                             2005     2006     2007     2008     2009
(Info, Country)
India                     45095.0  44961.0  45362.0  45999.0  45824.0
Mexico                     9921.0  10452.0   8867.0  14006.0  19803.0
Iraq (Central Iraq)           0.0      0.0      0.0   4452.0   2458.0
United States of America  16740.0  17309.0  17128.0  16465.0  15399.0
Myanmar                       0.0      0.0      0.0      0.0    879.0
Colombia                  18111.0  17479.0  17198.0  16140.0  15817.0
Russian Federation        35636.0  28844.0  25377.0  18188.0  17659.0
Honduras                      0.0   3118.0   3588.0   4455.0   5280.0
Guatemala                  5338.0   5885.0   5781.0   6292.0   6498.0
Kenya                         0.0      0.0      0.0      0.0      0.0

                                                                       \
                             2010     2011     2012     2013     2014
(Info, Country)
India                     46460.0  47640.0  47478.0  45878.0  47356.0
Mexico                    25703.0  26950.0  25750.0  22928.0  19911.0
Iraq (Central Iraq)        2553.0   2518.0   2594.0   3228.0   3029.0
United States of America  14722.0  14661.0  14856.0  14319.0  14164.0
Myanmar                     801.0   1055.0   1436.0   1238.0   1230.0
Colombia                  15459.0  16125.0  16433.0  16359.0  17990.0
Russian Federation        16690.0  16175.0  16247.0  16033.0  16516.0
Honduras                   6236.0   7104.0   7172.0   6431.0   5891.0
Guatemala                  5960.0   5681.0   5155.0   6074.0   5549.0
Kenya                         0.0      0.0      0.0      0.0   2305.0

                                                                       \
                             2015     2016     2017     2018     2019
(Info, Country)
India                     44373.0  42320.0  41017.0  40985.0  40479.0
Mexico                    20676.0  24486.0  31952.0  36517.0  36423.0
Iraq (Central Iraq)           0.0      0.0      0.0  15949.0  20296.0
United States of America  15883.0  17413.0  17294.0  16374.0  16669.0
Myanmar                    1302.0   1339.0   1392.0   1452.0   1519.0
Colombia                  17314.0  13433.0  12298.0  12926.0  12925.0
Russian Federation        17811.0  16758.0  14253.0  12921.0  12223.0
Honduras                   5148.0   5146.0   3856.0   3708.0   4077.0
Guatemala                  5470.0   5860.0   5435.0   4869.0   4387.0
Kenya                      2261.0   2363.0   2466.0   1569.0   1576.0


                             2020     2021
(Info, Country)
India                     40651.0  41330.0
Mexico                    36293.0  35265.0
Iraq (Central Iraq)       22579.0  29552.0
United States of America  21570.0  22942.0
Myanmar                    1571.0  15299.0
Colombia                  12347.0  14158.0
Russian Federation        12040.0   9847.0
Honduras                   3610.0   3926.0
Guatemala                  3129.0   3520.0
Kenya                      1859.0   2796.0